<div ng-controller="BlackHillsCanvasCtrl">

    <div class="row">

        <ul id="CanvasSubNav" class="nav nav-tabs" style='margin-bottom: 20px'>
            <li id="nav_tab_visual" class="active"><a href="#" ng-click="selectLayer('visual')">Visual Layer</a></li>
            <li id="nav_tab_plumbing" ><a href="#" ng-click="selectLayer('plumbing')">Plumbing Layer</a></li>
            <li id="nav_tab_source" ><a href="#" ng-click="selectLayer('source')">Source Layer</a></li>
        </ul>

    </div>

    <div class="row">

        <div id='CanvasContents' class="col-lg-9">

            <div class="logMessage alert hidden">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <div class="logMessageContents"></div>
            </div>

            <div ng-repeat="widget in appWidgets | filter:{layer: currentLayer}" id="widget_row_{{widget.id}}" class='well well-sm'>

                <div>

                    <img src="{{widget.icon}}" class='media-object widget-details-thumbnail img-thumbnail pull-left' height="50px" alt="">

                    <button type="button" class="close" ng-click="removeWidget(widget)" >&times;</button>

                    <div>

                        <h4 class="media-heading">{{widget.title}}<span class="label label-default" style="font-size: 10px; font-weight: normal; margin-left: 5px">{{widget.id}}</span></h4>

                        <div class="" style="margin-top: 8px">

                            <button type="button" class="btn btn-default" ng-click="showWidgetSettingsModal(widget)">
                                <span class="glyphicon glyphicon-cog"></span>&nbsp;Settings
                            </button>

                            <div class="btn-group" ng-class="{'hidden': widget.layer == 'source'}">

                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-link"></span>&nbsp;Input&nbsp;:&nbsp;{{getWidgetTitleFromId(widget.inputWidgetId)}}&nbsp;&nbsp;<span class="caret"></span>
                                </button>

                                <ul class="dropdown-menu" role="menu">
                                    <li ng-repeat="srcWidget in appWidgets | filter:hasOutput(widget.id)"><a href="#" ng-click="onUpdateWidgetInput(widget, srcWidget.id)">{{srcWidget.id}} - {{srcWidget.title}}</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#" ng-click="onUpdateWidgetInput(widget, null)">None</a></li>
                                </ul>

                            </div>

                        </div>

                    </div>

                </div>

                <div id="WidgetSettingsModalContainer"></div>


            </div>

        </div>

        <div id='CanvasSidebar' class="col-lg-3 well">

            <legend style='font-size:14px; text-transform: capitalize'>{{currentLayer}} Widgets</legend>

            <div ng-repeat="widget in masterWidgets | filter:{layer:currentLayer}" align="center" class='widget'>
                <a href="" ng-click="addWidget(widget)" class="thumbnail widget-thumbnail">
                    <img src="{{widget.icon}}" alt="{{widget.description}}">
                </a>
                <p class='widget-name text-info'>{{widget.name}}</p>
            </div>

        </div>

    </div>

</div>