

<div class="btn-toolbar" style='margin-bottom: 15px'>

    <div class="btn-group">

        <button type="button" disabled="disabled" class="btn btn-default">Tag</button>

        <div class="btn-group">

            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                {{selectedTag}}
                <span class="caret"></span>
            </button>

            <ul class="dropdown-menu">

                <li id="group-nav-item_all" class="group-nav-item">
                    <a href="#" ng-click="selectTag('all')">
                        <span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;All
                    </a>
                </li>

                <li class="divider"></li>

                <li ng-repeat="tag in tags" class="group-nav-item">
                    <a href="#" class="text-ellipsis" ng-click='selectTag(tag)'>
                        <span class="glyphicon glyphicon-tag"></span>&nbsp;{{tag}}
                    </a>
                </li>

            </ul>
        </div>

    </div>

    <div class="btn-group">

        <button type="button" disabled="disabled" class="btn btn-default">Host</button>

        <div class="btn-group">

            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                {{selectedTag}}
                <span class="caret"></span>
            </button>

            <ul class="dropdown-menu">

                <li id="group-nav-item_all" class="group-nav-item">
                    <a href="#" ng-click="selectTag('all')">
                        <span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;All
                    </a>
                </li>

                <li class="divider"></li>

                <li ng-repeat="tag in tags" class="group-nav-item">
                    <a href="#" class="text-ellipsis" ng-click='selectTag(tag)'>
                        <span class="glyphicon glyphicon-tag"></span>&nbsp;{{tag}}
                    </a>
                </li>

            </ul>
        </div>

    </div>

    <button class='btn btn-default' style='margin-left: 10px' ng-click="getLogs()"><span class="glyphicon glyphicon-refresh"></span>&nbsp;Refresh</button>

</div>


<!--

  var sampleLog = {
        "tag": "LoggerTest",
        "ip": "127.0.0.1",
        "hostname": "metis.home",
        "pid": 25529,
        "cpu": 21.1,
        "memory": 15941632,
        "message": "fatal test ",
        "accountId": "52755e0a6721dede61000001",
        "_id": "52756da7d40faab863000002",
        "__v": 0,
        "modified": "2013-11-02T21:24:55.763Z",
        "level": "fatal",
        "stack": [
            {
                "functionName": "anonymous",
                "fileName": "remote_test.js",
                "line": 43
            },
            {
                "functionName": "Module._compile",
                "fileName": "module.js",
                "line": 456
            },
            {
                "functionName": "Module._extensions..js",
                "fileName": "module.js",
                "line": 474
            },
            {
                "functionName": "Module.load",
                "fileName": "module.js",
                "line": 356
            }
        ]
    }

<div class="alert alert-success">...</div>
    -->



<div ng-repeat="log in logs" class="logItem alert" ng-class="{'alert-success': log.level == 'debug', 'alert-info': log.level == 'info', 'alert-warning': log.level == 'warn', 'alert-danger': log.level == 'error' || log.level == 'fatal'}">

    <div class="row">

        <div class="col-md-1">
            <span class="label label-primary">{{log.hostname}}</span>
            <br/>
            <span class="text-muted">{{log.ip}}</span>
        </div>

        <div class="col-md-9">
            {{log.message}}
        </div>

        <div class="col-md-2">

            <a href="#" class="text-muted logTooltip" data-toggle="tooltip" title="{{log.stack}}">{{log.stack[0].fileName}}, {{log.stack[0].line}}</a>
            <br/>
            <span class='logItemDate'>{{log.modified | date:'MM/dd/yyyy HH:mm:ss Z'}}</span>
        </div>

    </div>


    <!--
    {{log.stack[0].fileName}}, {{log.stack[0].line}}
    -->

</div>
