

<div class="btn-toolbar" style='margin-bottom: 15px'>

    <div class="btn-group">

        <button type="button" disabled="disabled" class="btn btn-default"><span class="glyphicon glyphicon-tag"></span>&nbsp;Tag</button>

        <div class="btn-group">

            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                {{selectedTag}}
                <span class="caret"></span>
            </button>

            <ul class="dropdown-menu">

                <li class="group-nav-item">
                    <a href="#" ng-click="selectTag('all')">
                        <span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;All
                    </a>
                </li>

                <li class="divider"></li>

                <li ng-repeat="tag in tags" class="group-nav-item">
                    <a href="#" class="text-ellipsis" ng-click='selectTag(tag)'>
                        <span class="glyphicon glyphicon-tag"></span>&nbsp;{{tag}}
                    </a>
                </li>

            </ul>
        </div>

    </div>

    <div class="btn-group">

        <button type="button" disabled="disabled" class="btn btn-default">Host</button>

        <div class="btn-group">

            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                {{selectedHost}}
                <span class="caret"></span>
            </button>

            <ul class="dropdown-menu">

                <li class="group-nav-item">
                    <a href="#" ng-click="selectHost('all')">
                        All
                    </a>
                </li>

                <li class="divider"></li>

                <li ng-repeat="host in hosts" class="group-nav-item">
                    <a href="#" class="text-ellipsis" ng-click='selectHost(host)'>
                        {{host}}
                    </a>
                </li>

            </ul>
        </div>

    </div>

    <div class="btn-group">

        <button type="button" disabled="disabled" class="btn btn-default">Level</button>

        <div class="btn-group">

            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span ng-class="{'text-success': logLevel.label == 'debug', 'text-info': logLevel.label == 'info', 'text-warning': logLevel.label == 'warn', 'text-danger': logLevel.label == 'error' || logLevel.label == 'fatal'}">
                    {{logLevel.label}}
                </span>
                <span class="caret"></span>
            </button>

            <ul class="dropdown-menu">

                <li ng-repeat="level in logLevels" class="group-nav-item">
                    <a href="#" ng-click="setLogLevel(level)">
                        <span ng-class="{'text-success': level.label == 'debug', 'text-info': level.label == 'info', 'text-warning': level.label == 'warn', 'text-danger': level.label == 'error' || level.label == 'fatal'}">
                            {{level.label}}
                        </span>
                    </a>
                </li>

            </ul>
        </div>

    </div>

    <button class='btn btn-default pull-right' style='margin-left: 10px' ng-click="getLogs()"><span class="glyphicon glyphicon-refresh"></span>&nbsp;{{lastSync | date:'HH:mm:ss'}}</button>

</div>


<div class="row" style="margin-bottom: 20px">

    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon "><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="" ng-model="searchTerm" ng-enter="getLogsBySearch()">
        </div>
    </div>

    <div class="col-md-6">
    <!--
        <div class="btn-toolbar pull-right">
            <button class="btn btn-default" ng-class="{'disabled': currentLogPage == numberLogPages}" ng-click="incLoggerPage()">&larr; Older</button>
            <button class="btn btn-default" ng-class="{'disabled': currentLogPage == 1}" ng-click="decLoggerPage()">Newer &rarr;</button>
        </div>
        -->
    </div>

</div>


<!--

  var sampleLog = {
        "tag": "LoggerTest",
        "ip": "127.0.0.1",
        "hostname": "metis.home",
        "pid": 25529,
        "cpu": 21.1,
        "memory": 15941632,
        "message": "fatal test ",
        "accountId": "52755e0a6721dede61000001",
        "_id": "52756da7d40faab863000002",
        "__v": 0,
        "modified": "2013-11-02T21:24:55.763Z",
        "level": "fatal",
        "stack": [
            {
                "functionName": "anonymous",
                "fileName": "remote_test.js",
                "line": 43
            },
            {
                "functionName": "Module._compile",
                "fileName": "module.js",
                "line": 456
            },
            {
                "functionName": "Module._extensions..js",
                "fileName": "module.js",
                "line": 474
            },
            {
                "functionName": "Module.load",
                "fileName": "module.js",
                "line": 356
            }
        ]
    }

<div class="alert alert-success">...</div>
    -->


<div ng-repeat="log in logs" class="animate-logs" ng-class="{'hidden': !isLogLevelGreater(log.level) }">

    <div class="logItem alert" ng-class="{'alert-success': log.level == 'debug', 'alert-info': log.level == 'info', 'alert-warning': log.level == 'warn', 'alert-danger': log.level == 'error' || log.level == 'fatal'}">

        <div class="row">

            <div class="col-md-2" style="overflow:hidden">
                <span class="label label-primary">{{log.hostname}}</span>
                <span class="text-info" style='font-size: 10px'>{{log.tag}}</span>
                <br/>
                <span class="logItemIP text-muted">{{log.ip}}</span>
            </div>

            <div class="col-md-8">
                {{log.message}}
            </div>

            <div class="col-md-2">
                <a href="#" class="text-muted logTooltip" data-toggle="tooltip" title="{{stackToString(log.stack)}}">{{log.stack[0].fileName}}, {{log.stack[0].line}}</a>
                <br/>
                <span class='logItemDate'>{{log.modified | date:'HH:mm:ss MM/dd/yyyy (Z)'}}</span>
            </div>

        </div>

    </div>


</div>
