<div ng-controller="BlackHillsCanvasCtrl" style="margin-bottom: 25px">

    <div class="row">

        <ul id="CanvasSubNav" class="nav nav-tabs" style='margin-bottom: 20px'>
            <li id="nav_tab_visual" class="active"><a href="#" ng-click="selectLayer('visual')" >Visual Layer</a></li>
            <li id="nav_tab_plumbing" ><a href="#" ng-click="selectLayer('plumbing')">Plumbing Layer</a></li>
            <li id="nav_tab_source" ><a href="#" ng-click="selectLayer('source')">Source Layer</a></li>
        </ul>

    </div>


    <div class="row">

        <div id='CanvasContents' class="col-lg-9">

            <div class="logMessage alert hidden">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <div class="logMessageContents"></div>
            </div>

            <h4>Master Widget Settings</h4>

            <form role="form" ng-class="{'hidden': selectedMasterWidget == null}" class="well">

                <div class="form-group">
                    <label>Name</label>
                    <input type="text" ng-model="selectedMasterWidget.name" class="form-control" placeholder="Enter Name">
                </div>

                <div class="form-group">
                    <label>Description</label>
                    <input disabled type="text" ng-model="selectedMasterWidget.description" class="form-control" placeholder="Enter Description">
                </div>

                <div class="form-group">
                    <label>Universal Unique ID (UUID)</label>
                    <input disabled type="text" ng-model="selectedMasterWidget.uuid" class="form-control" placeholder="Enter UUID">
                </div>

                <div class="form-group">
                    <label>Vendor</label>
                    <input disabled type="text" ng-model="selectedMasterWidget.vendor" class="form-control" placeholder="Enter Vendor Name">
                </div>

                <div class="form-group">
                    <label>Pre-Process Code</label>
                    <p class="help-block">This is Javascript code run when this block is first setup.</p>
                    <textarea ng-model="selectedMasterWidget.preProcessCode" class="form-control" placeholder="Enter code"></textarea>
                </div>

                <div class="form-group">
                    <label>Process Code</label>
                    <p class="help-block">This is the main Javascript code run when this block is processed.</p>
                    <textarea ng-model="selectedMasterWidget.processCode" class="form-control" placeholder="Enter code" style="height:400px"></textarea>
                    <!--
                    <div id="PreProcessCodeEditor" style="height:400px"></div>
                    -->
                </div>

                <div class="form-group">
                    <label>Post-Process Code</label>
                    <p class="help-block">This is Javascript code run after all processing for this block has been done.</p>
                    <textarea ng-model="selectedMasterWidget.postProcessCode" class="form-control" placeholder="Enter code"></textarea>
                </div>

                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="onSaveMasterWidget(selectedMasterWidget)">Save changes</button>

            </form>


        </div>

        <div id='CanvasSidebar' class="col-lg-3 well">

            <legend style='font-size:14px; text-transform: capitalize'>{{currentLayer}} Widgets</legend>

            <div ng-repeat="widget in masterWidgets | filter:{layer:currentLayer}" align="center" class='widget'>
                <a href="" ng-click="onSelectMasterWidget(widget)" class="thumbnail widget-thumbnail">
                    <img src="{{widget.icon}}" alt="{{widget.description}}">
                </a>
                <p class='widget-name text-info'>{{widget.name}}</p>
            </div>

        </div>

    </div>

</div>

<script>
/*
	head.js("/libs/ace/src-min-noconflict/ace.js", function(){
	    var editor = ace.edit("PreProcessCodeEditor");
		editor.setTheme("ace/theme/monokai");
		editor.getSession().setMode("ace/mode/javascript");		
	});
*/
</script>