<div>

    <h2>Settings</h2>

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Company</label>
                <input class="form-control" type="text" placeholder="App Name" style="width:100%" ng-model="accountInfo.company" ng-change="onUpdateSetting()"/>
            </div>
        </div>
        <div class="col-lg-6">
        </div>
    </div>

    <div class="form-group">
        <label>API Key</label>
        <input class="form-control" type="text" disabled ng-model='accountInfo.apiKey'>
    </div>

</div>