<div id='BlackHillsViewContainer' ng-controller="BlackHillsViewCtrl">

    <div class="row">

        <div class="logMessage alert hidden">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <div class="logMessageContents"></div>
        </div>

        <div ng-repeat="widget in appWidgets" id="widget_{{widget.id}}" class='well well-sm'>

            <{{widget.uuid}} data="{{widget.cachedJSONResults}}"/>

            <!--
            <script src="/widgets/{{widget.uuid}}/render.js"></script>
            -->

        </div>


    </div>

</div>

<script ng-repeat="widget in appWidgets" src="/widgets/{{widget.uuid}}/module.js"></script>
<script ng-repeat="widget in appWidgets" src="/widgets/{{widget.uuid}}/controller.js"></script>
<script ng-repeat="widget in appWidgets" src="/widgets/{{widget.uuid}}/directive.js"></script>

<script type="text/javascript">

    var scope = angular.element(document.getElementById('BlackHillsViewContainer')).scope();
    scope.$apply();

</script>
