<div id='BlackHillsViewContainer' ng-controller="BlackHillsViewCtrl">

    <c31b1238-2b2e-4509-e55a-1e3873d39fc0 widget-id="520e7c29d499ae6cf3000003"/>

</div>

<script ng-repeat="widget in appWidgets" src="/widgets/c31b1238-2b2e-4509-e55a-1e3873d39fc0/module.js"></script>
<script ng-repeat="widget in appWidgets" src="/widgets/c31b1238-2b2e-4509-e55a-1e3873d39fc0/controller.js"></script>
<script ng-repeat="widget in appWidgets" src="/widgets/c31b1238-2b2e-4509-e55a-1e3873d39fc0/directive.js"></script>

<script type="text/javascript">

    var scope = angular.element(document.getElementById('BlackHillsViewContainer')).scope();
    scope.$apply();

</script>
